@font-face {
  font-family: "Lexend";
  src: url("../font/Lexend-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
  scroll-behavior: smooth;
}
section {
  padding: 100px;
}
/* Banner */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 90px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.sticky {
  background: rgba(250, 250, 250, 0.92);
  padding: 20px 90px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header span {
  color: #2196f3;
  font-size: 45px;
}
header h1 {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: default;
}
.sticky h1 {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
header ul li a:hover {
  color: #2196f3;
  text-shadow: 5px 5px 3px #fff;
}
.sticky ul li a {
  color: #111;
}
.sticky ul li a:hover {
  text-shadow: 5px 5px 3px #333;
}

/* banner */
.banner {
  position: relative;
  min-height: 100vh;
  background: url(img/banner.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}
.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 25px;
  transition: 0.35s;
}
.btn:hover {
  color: #2196f3;
  background: #fff;
}

/* About */
.about {
  height: 695px;
}
.about .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: #111;
}
.about .heading span {
  font-size: 42px;
  color: #2196f3;
}
.about .heading h2 {
  font-weight: 600;
  font-size: 32px;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.w50 {
  min-width: 50%;
  align-items: center;
}
.img {
  max-width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.75);
  border-radius: 300px;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0);
}
.title {
  font-size: 20px;
}
.contentBx p {
  margin-bottom: 5px;
  font-size: 20px;
}
.education ul {
  margin-left: 20px;
}
.education h4 {
  font-size: 21px;
  color: #2196f3;
}
.education h5 {
  font-size: 19px;
  margin-bottom: 9px;
}
.skill h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 9px;
}
.skill .text {
  font-size: 19px;
  margin-bottom: 7px;
}
.skill .percent {
  position: relative;
  width: 100%;
  height: 30px;
  background: rgba(0, 14, 63, 0.75);
  border: 3px solid #222;
  margin-bottom: 15px;
  border-radius: 25px;
}
.barprcnt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 25px;
  background: #2196f3;
}

/* project */
.project {
  background: #2196f3;
}
.project .heading h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #111;
}
.project .heading span {
  color: #fff;
  font-size: 42px;
}
.project .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.project .content .projectBx {
  padding: 40px 20px;
  background: #fff;
  color: #111;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: 0.25s;
  border-radius: 25px;
}
.project .content .projectBx:hover {
  background: rgb(150, 150, 150);
  color: #fff;
  box-shadow: invert 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.project .content .projectBx img {
  max-width: 250px;
  border-radius: 10px;
}
.project .content .projectBx a {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin-bottom: 5px;
  text-decoration: none;
}

/* Contact */
.contact {
  background: #111;
}
.contact .heading h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
  color: #fff;
}
.contact .heading span {
  color: #2196f3;
  font-size: 42px;
}
.contactInfo {
  min-width: 40%;
}
.contactInfo h3 {
  color: #fff;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  margin-top: -3px;
  filter: invert(1);
}
.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
  font-size: 22px;
}
.formBx form h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.formBx {
  min-width: 60%;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form input,
.formBx form textarea {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  background: #222;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  resize: none;
}
.formBx form textarea {
  min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}
.formBx .sbmt {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.25s;
}
.formBx .sbmt:hover {
  background: #1464a5;
}
.sosmed ul {
  position: relative;
  display: flex;
  gap: 10px;
}
.sosmed ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(200, 200, 200, 0.5);
  transition: 0.5s;
}
.sosmed a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.sosmed ul li:hover {
  width: 150px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}
.sosmed ul li:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}
.sosmed ul li:hover::before {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
}
.sosmed ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}
.sosmed ul li:after::hover {
  opacity: 0.5;
}
.sosmed ul li .icon {
  transition: 0.5s;
}
.sosmed ul li:hover .icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}
.sosmed ul li span {
  position: absolute;
}
.sosmed ul li .title {
  color: #fff;
  font-size: 1.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}
.sosmed ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.2s;
}

/* footer */
/*.ft {
  width: 100%;
  height: 100px;
  color: #fff;
  padding: 40px 50px 40px 50px;
  background: #1464a5;
  text-align: center;
}
.ft h3 {
  font-size: 20px;
  font-weight: 200;
}
.ft a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: 0.25s;
}
.ft a:hover {
  text-shadow: 3px 3px 3px #000;
}*/

/* Responsive */
@media (max-width: 991px) {
  /* header */
  header,
  .sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  header span {
    color: #2196f3;
    font-size: 35px;
  }
  header h1 {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: default;
  }
  header ul li a {
    color: #111;
    font-size: 19px;
    margin: 10px;
  }
  /* .toggle {
    position: relative;
    width: 50px;
    height: 5px;
    background: #fff;
  }
  .toggle::before {
    content: " ";
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #fff;
  }
  .toggle::after {
    content: " ";
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transition: 0.2s;
    transform: translateY(10px);
  }

  .active::before {
    transform: translateY(0px) rotate(45deg);
    cursor: pointer;
    box-shadow: 0 0 0;
  }
  .active::after {
    transform: translateY(0px) rotate(-45deg);
    cursor: pointer;
  } */
  .toggle {
    width: 40px;
    height: 40px;
    background: url(img/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.1s;
  }
  .active {
    background: url(img/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  .active1 {
    left: 0;
  }
  .sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }

  /* banner */
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 28px;
  }
  .banner h3 {
    font-size: 18px;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 400;
  }

  /* about */
  .about {
    height: 905px;
  }
  .about .heading span {
    font-size: 28px;
    color: #2196f3;
  }
  .about .heading h2 {
    font-weight: 600;
    font-size: 24px;
  }
  .content {
    flex-direction: column;
  }
  .img {
    max-width: 40%;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 300px;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0);
  }
  .title {
    font-size: 17px;
  }
  .contentBx p {
    margin-bottom: 3px;
    font-size: 17px;
  }
  .education h5 {
    font-size: 15px;
  }
  .education h4 {
    font-size: 16px;
  }
  .skill h3 {
    font-size: 16px;
  }
  .skill .text {
    font-size: 15px;
  }
  .skill .percent {
    max-width: 100%;
    max-height: 25px;
  }

  /* project */
  .project .content .projcetBx {
    margin: 10px;
  }
  .project .heading span {
    color: #fff;
    font-size: 28px;
  }
  .project .heading h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #111;
  }
  .project .content .projectBx {
    padding: 40px 20px;
    max-width: 200px;
    margin: 20px;
    text-align: center;
    transition: 0.25s;
    border-radius: 25px;
  }
  .project .content .projectBx img {
    max-width: 125px;
  }
  .project .content .projectBx h2 {
    font-size: 16px;
    font-weight: 500;
  }

  /* contact */
  .contact .heading span {
    color: #2196f3;
    font-size: 28px;
  }
  .contact .heading h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
    color: #fff;
  }
  .contactInfoBx .box .icon {
    min-width: 30px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin-top: -7px;
    filter: invert(1);
  }
  .contactInfo h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }
  .contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
    font-size: 21px;
  }
  .formBx form h3 {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  }
  .formBx {
    min-width: 60%;
  }
  .formBx .sbmt {
    max-width: 85px;
    background: #2196f3;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.25s;
  }
  .sosmed ul li {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .sosmed ul li:hover {
    width: 155px;
  }
  .sosmed img {
    width: 24px;
  }
  .sosmed ul li .title {
    font-size: 1em;
  }
  .sosmed h3 {
    font-size: 19px;
  }
  .wrapper .button {
    height: 45px;
    width: 45px;
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    background: #fff;
    box-shadow: 2px 2px 3px 1px rgba(150, 150, 150, 0.5);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover {
    width: 165px;
  }
  .wrapper .button .icon1,
  .icon2,
  .icon3,
  .icon4 {
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 56px;
  }

  .wrapper .button span {
    font-size: 18px;
    font-weight: 500;
    margin-left: -5px;
  }

  /* footer */
  /*  .ft {
    width: 100%;
    height: 100px;
    padding: 40px 35px 40px 35px;
  }
  .ft h3 {
    font-size: 12px;
    font-weight: 200;
  }
  .ft a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: 0.25s;
  }
  .ft a:hover {
    text-shadow: 3px 3px 3px #fff;
  }*/
}
